name: Preprocessing California Housing

on:
  push:
    paths:
      - 'CaliforniaHousing.csv'   # Trigger saat file mentah di root repo diupdate
    branches:
      - '**'
  workflow_dispatch:              # Bisa dijalankan manual

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn mlflow || echo "Dependencies installed"

      # 4. Jalankan script preprocessing
      - name: Run preprocessing
        run: python preprocessing/automate_FadhilMuhamad.py

      # 5. Upload processed dataset sebagai artifact
      - name: Upload processed dataset
        uses: actions/upload-artifact@v4
        with:
          name: california_preprocessed
          path: preprocessing/CaliforniaHousing_preprocessed.csv